<p>Username: {{user.username}}</p>

<p>User bio: {{user.bio}}</p>

<p>Current team: Update {{user.teamName}}</p>

<div class="card">
    <img src="/Image/pink-monster.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p class="bio-text">User bio: {{user.bio}}</p>
      <p class="card-text"></p>
      <main class="col-auto">


{{!-- <div class="posts list-group">
  <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
    <span>{{title}}</span>
    <span>{{format_date createdAt}}</span>
  </a>
</div> --}}