<p>Username: {{user.username}}</p>

<p>User bio: {{user.bio}}</p>

<p>Current team: {{user.team.name}}</p>

<h1>WHY!!!!</h1>

{{!-- <div class="posts list-group">
  <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
    <span>{{title}}</span>
    <span>{{format_date createdAt}}</span>
  </a>
</div> --}}