{{!-- <div class="posts">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>

        <div>
          Project starts on
          {{start_date}}
          until
          {{end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div> --}}


<link rel="stylesheet" href="/stylesheet/dashboard-projects.css" type="css"/>

<div class="card mb-3 dash-proj"  style="max-width: 940px;">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
  <div class="row g-0">
    <div class="col-md-4">
       <img src="/Image/login-image.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <h2 class="proj-title">
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><h4 class="startup-name">{{startup}}</h4>
        <p>{{description}}</p>
        <p>{{Team.teamName}}</p>
        <div>
          Project starts on
    
          {{format_date start_date}}
          until
          {{format_date end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="btn btn-primary project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div>

