{{!-- <div class="posts">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>

        <div>
          Project starts on
          {{start_date}}
          until
          {{end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div> --}}

<link rel="stylesheet" href="/stylesheet/dashboard-projects.css" type="css"/>

<div class="card mb-3"  style="max-width: 940px;">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
  <div class="row g-0">
    <div class="col-md-4">
       <img src="/Image/login-image.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>

        <div>
          Project starts on
          {{start_date}}
          until
          {{end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="btn btn-primary project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div>

{{!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> --}}
