{{!-- Homepage 1st section with info about website and signup button --}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Hackathon Suite </h1>
      <h4>Welcome! This is a place for junior developers to take part in hackathons to build projects posted by startups.</h4>
      <br />
      <a href="/signup"><button class="homeSignUpBtn" style="width: 10rem">Sign
          Up</button></a>
    </div>
    <div class="col">
      <div class="text-center home-image1">
        <img
          src="/Image/homepage1.png"
          alt="Login"
          style="width: 450px; height: 350px"
        />
      </div>
    </div>
  </div>
   <hr class="hrbreak"> </hr>
<br>
<br>
<br>
<br>

  
<div class="col">
      <h3 class="joinTitle">Join a project</h3>
      <h5 class="joinCom">You can join a project team by clicking join project. 
        There are a set number of spaces on each project team, once the team is
        full, hackathon details are sent to the team host</h5>
      <br />
      <a href="/api/project"><button
          class="homeSignUpBtn text-center"
          style="width: 15rem"
        >View Projects</button></a>
    </div>
  </div>
</div>
  
  <br> 
  <br>
    {{#each projects}}
    <div class="card mb-3 mb3" style="max-width: 500px;">

    <article class=" card">
      <div class="card-header bg-light flex-row ">
  <div class="card-group">
    <div class="col-md-4">
       <img src="/Image/login-image.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>
        <div>
          Project starts on
          {{format_date start_date}}
          until
          {{format_date end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
      
      </div>
    </article>
 
</div> 
 {{/each}} 

 
 

<hr>
<br>
<br>
<br>
<div>
<h3> How the <br> Hackathon Suite <br> works </h3>
</div>
<div></div>
  <p class="text-white">We wanted to create a space for junior devs to get real project experience. If you are a startup with a project, send us the details via <a class="text-blue" href="mailto:hackathonsuite@gmail.com">email</a> and we will get back to you!</p>
  </div>
<div class="image-centering text-center" >
 <div class="col logonumbers">
      <img
        src="/Image/1logo.png "
        alt="Login"
        style="width: 280px; height: 240px"
      />  
    </div>
     <div class="col logonumbers ">
      <img
        src="/Image/2logo.png"
        alt="Login"
        style="width: 280px; height: 260px"
      />
       </div>
    
      <div class="col logonumbers ">
      <img
        src="/Image/3logo.png"
        alt="Login"
        style="width: 300px; height: 305px"
      />
       </div>
</div>

   <div class="text-center">
     <div class="textCenter text-white" style="width: 250px; height: 250px"><p>Sign up</p></div>
      <div class="textCenter text-white" style="width: 250px; height: 250px"><p>Join a project</p></div>
       <div class="textCenter text-white" style="width: 250px; height: 250px"><p>Start coding!</p></div>
     
     
   </div> 