<div class="container">
  <div class="row">
    <div class="col">
      <h1>Hackathon Suite </h1>
<h4>A bit of text about the Hackathon Suite and what we do, who it is for</h4>
<br>
<a href="/signup"><button class="homeSignUpBtn" style="width: 10rem">Sign Up</button></a>
    </div>
    <div class="col">
      <div class="text-center home-image1 ">
    <img src="/Image/login-image.jpg" alt="Login" style="width: 250px; height: 250px">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="/Image/login-image.jpg" alt="Login" style="width: 250px; height: 250px">
    <h6 class="desc-1">{{title}}</h6>
    </div>
    <div class="col">
     <img src="/Image/login-image.jpg" alt="Login" style="width: 250px; height: 250px">
    </div>
    <div class="col">
       <h3 class="joinTitle">Join a project</h3>
<h5 class="joinCom">How to join and what it means to be a part of a team, how the team is generated and that you can view you team members.  When the team is full, details are gievn to the host</h5>
<br>
 <a href="/projects"><button class="homeSignUpBtn text-center" style="width: 15rem">View Projects</button></a>
    </div>
  </div>
</div>

{{!-- {
    
    
    {!-- <div class="card mb-3"  style="max-width: 500px;">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
  <div class="row g-0">
      <p>XXXXXXXX</p>
    <div class="col-md-4">
       <img src="../public/Image/login-image.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>

        <div>
          Project starts on
          {{start_date}}
          until
          {{end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div> --}}