<h1>Hackathon Suite </h1>
<h4>A bit of text about the Hackathon Suite and what we do, who it is for</h4>
<a href="/signup"><button class="homeSignUpBtn">Sign Up</button></a>

<hr />

{{!-- {
    
    
    {!-- <div class="card mb-3"  style="max-width: 500px;">
  {{#each projects}}
    <article class="card">
      <div class="card-header bg-light flex-row justify-space-between">
  <div class="row g-0">
      <p>XXXXXXXX</p>
    <div class="col-md-4">
       <img src="../public/Image/login-image.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <h2>
          <a href="/home-routes/{{id}}">{{title}}</a>
        </h2>
        <h5>Startup</h5><p>{{startup}}</p>
        <p>{{description}}</p>

        <div>
          Project starts on
          {{start_date}}
          until
          {{end_date}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
        <button type="button" class="project-button" value="{{id}}">Join
          Project</button>
      </div>
    </article>
  {{/each}}
</div> --}}